body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Cambiar a una fuente más divertida */
    background-image: url('imagenes/floricienta.jpg');
    background-size: cover; /* O usa 'contain' según lo que prefieras */   
    overflow-y: hidden; /* Evitar el scroll horizontal */ 
}

.container {
    text-align: center;
    background-color: #fdf3e7; /* Color de fondo que recuerda a la estética de "Floricienta" */
    border: 5px solid #ff6f61; /* Borde colorido */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    color: #ff6f61; /* Color del título */
    font-size: 36px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px; /* Aumentar el tamaño de la letra */
    color: #fff; /* Color de texto blanco */
    background-color: #fad841; /* Color de fondo de las celdas */
    border: 2px solid #ff6f61; /* Borde colorido */
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s; /* Efecto al pasar el mouse */
}

.cell:hover {
    background-color: #ff9a9e; /* Color de fondo al pasar el mouse */
}

#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff6f61; /* Botón de reinicio colorido */
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#restartButton:hover {
    background-color: #ff9a9e; /* Cambio de color al pasar el mouse */
}

#status {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ff6f61; /* Color del estado */
}
